GA4 Traffic Analysis.json
{
  "name": "GA4 Traffic Analysis",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -800,
        -128
      ],
      "id": "2a9b052c-782e-4a36-9d89-f4bdf21e379d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "sendTo": "prashaanthratnavelv@gmail.com",
        "subject": "={{$json.subject}}",
        "emailType": "text",
        "message": "={{$json.message}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        336,
        -128
      ],
      "id": "91f007da-3223-4f5e-a0a6-e7e2dca205dc",
      "name": "Send a message",
      "webhookId": "488e10f4-c6d9-4518-b171-4d6a6ff63fc7",
      "credentials": {
        "gmailOAuth2": {
          "id": "OxCWWptucqmwVqBg",
          "name": "Gmail account 3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "595dd571-fb95-4a17-9cb2-c2e5324b5cab",
              "name": "subject",
              "value": "=Weekly GA4 Traffic Report",
              "type": "string"
            },
            {
              "id": "5cb71633-830f-4740-96b7-ffaa95439666",
              "name": "message",
              "value": "=Hello Team,\n\nHere is the AI-generated traffic analysis:\n\n{{$json.output}}\n\nRegards\nAI Marketing Agent",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        112,
        -128
      ],
      "id": "e2edce6d-ff64-4ccc-a050-82b8108d15c2",
      "name": "Email Format"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following website traffic data and generate a short marketing report.\n\nTraffic Data:\nActive Users: {{$json.activeUsers}}\nSessions: {{$json.sessions}}\nNew Users: {{$json.newUsers}}\nTop Page: {{$json.topPage}}\nTop Traffic Source: {{$json.topSource}}\n\nProvide insights and recommendations for improving website performance.",
        "options": {
          "systemMessage": "=You are a senior digital marketing analyst specializing in website traffic analysis.\n\nYour job is to analyze website analytics data and produce a clear, professional marketing report.\n\nYour report must include:\n\n1. Traffic Summary\n2. Key Metrics Overview\n3. Top Performing Page\n4. Main Traffic Source\n5. Insights about user behavior\n6. Marketing Recommendations\n\nWrite the report in a clear, concise, professional format suitable for a weekly marketing email."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -256,
        -128
      ],
      "id": "f8188791-ae87-4f75-bd0f-15e0edf17154",
      "name": "Traffic Analysis"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -368,
        96
      ],
      "id": "84f31608-6fff-43a0-838e-dead569d0564",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "IFfbgreFcq5UhOjQ",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "propertyId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "metricsGA4": {
          "metricValues": [
            {}
          ]
        },
        "dimensionsGA4": {
          "dimensionValues": [
            {}
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleAnalytics",
      "typeVersion": 2,
      "position": [
        -560,
        -128
      ],
      "id": "7cf5b380-dbf1-4e1a-ad8a-c686ae3179b4",
      "name": "Get a report"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Format": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traffic Analysis": {
      "main": [
        [
          {
            "node": "Email Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Traffic Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get a report": {
      "main": [
        [
          {
            "node": "Traffic Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "b5dcb60f-807f-458c-8165-cf712eb6889f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76ce6b32161b2c2c4eb82a1c152a92c49942def96183088d14e95dc177fa21ad"
  },
  "id": "gXKQimJkA2rAsJcP",
  "tags": []
}